@charset = "utf-8";

@font-face {font-family: Autery; 
            src: url(‘Autery.tff’) 
            format(‘truetype’); } /* font for h1 heading */

html { background: url('sailor_background.jpg') 100% / cover fixed;
       background-color: rgb(254,202,255);
       cursor: url(moonstick.png), pointer; }

h1 { font-family: Autery, cursive;
     font-size: 500%;
     color: rgb(255, 253, 226);
     text-align: center; }

#light { position: absolute;
         top: 5%;
         right: 15%; }

/* make winner cover the page */
#winner { width: 100%;
          position: absolute;
          z-index: 100; } 

#winnerz { width: 100%;
          position: absolute;
          display: none; }
              
/* make race space the size of the screen */
#container { width: screen.width;
             height: 100%;
             position: relative; }

/* sailor moon */
#animate { width: 100px;
           height: 100px;
           top: 0px;
           position: absolute; }

/* sailor jupiter */
#animate2 { width: 100px;
            height: 100px;
            top: 120px;
            position: absolute; }

/* sailor mars */
#animate3 { width: 100px;
            height: 100px;
            top: 240px;
            position: absolute; }

/* sailor mercury */
#animate4 { width: 100px;
            height: 100px;
            top: 355px;
            position: absolute; }

/* sailor venus */
#animate5 { width: 100px;
            height: 100px;
            top: 475px;
            position: absolute; }
