@charset = "utf-8";
@font-face {
  font-family: Autery;
      src: url(‘Autery.tff’) format(‘truetype’); }

html {background: url(assets/sailor_background.jpg) cover fixed;
      background-color: rgb(77.3, 54.5, 90.6); }

h1 {font-family: Autery, cursive;
      font-size: 12px;
      font-color: white;
      text-align: center; }
