@charset = "utf-8";
@font-face {font-family: Autery; src: url(‘Autery.tff’) format(‘truetype’);}

html {background: url('sailor_background.jpg') 100% / cover fixed;
      background-color: rgb(254,202,255);
      cursor: url(sailor_icon.png), pointer;}


h1 {font-family: Autery, cursive;
      font-size: 80px;
      color: rgb(255, 253, 226);
      text-align: center; }

img#light {
      position: absolute;
      top: 30px;
      right: 200px;}

#container {
  width: screen.width;
  height: 100%;
  position: relative;
}
#animate {
  width: 100px;
  height: 100px;
  position: absolute;
}
