@charset = "utf-8";
@font-face {
  font-family: Autery;
      src: url(‘Autery.tff’) format(‘truetype’); }

html {background-color: black; }

body > h1 {font-family: Autery, cursive;
      font-size: 12px;
      font-color: white;
      text-align: center; }
