@charset = "utf-8";
@font-face {
  font-family: Autery;
      src: url(‘Autery.tff’) format(‘truetype’); }

html {background-image: url(sailor_background.png) cover; }

body > h1 {font-family: Autery, cursive;
      font-size: 40px;
      font-color: white;
      text-align: center; }
